.leaderboard-container {
  min-width: 100%;
}

.leaderboard-rows-container {
  max-height: 500px;
  overflow-y: scroll;
}

.leaderboard-container h2 {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 1rem;
}
